flask==3.1.1
flask-cors==5.0.1
flask-sqlalchemy==3.1.1
flask-socketio==5.5.1
sqlalchemy==2.0.40
paramiko==3.5.1
requests==2.32.3
python-dotenv==1.1.0
gunicorn==23.0.0
eventlet==0.39.1
pytest==8.3.5
pytest-cov==6.1.1
